{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-4">
    <h2 class="text-center">Edition de livre</h2>

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.editeur) }}
        {{ form_row(form.anneeParution) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.collection) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.countPage) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.filename) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.document) }}
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}