{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-2 col-md-10">
        <h3 class="text-center">Liste des livres</h3>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Collection</th>
                    <th>Date de parution</th>
                    <th>Nombre de pages</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for book in books %}
                <tr>
                    <td><img src="{{ book.filename }}" alt="" height="60" width="60"></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.collection }}</td>
                    <td>{{ book.anneeParution | date }}</td>
                    <td>{{ book.countPage }}</td>
                    <td><a href="{{ path('editBook', {id: book.id}) }}" class="btn btn-outline-info">Modifier</a></td>
                    <td><a href="{{ path('deleteBook', {id: book.id}) }}" class="btn btn-outline-danger">Supprimer</a></td>
                </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}