{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des utilisateurs</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Login</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_ADMIN" %}
                                     Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('editUser', {id: user.id}) }}" class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
