<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bibliotheque!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/simple-sidebar.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="d-flex" id="wrapper">
          {% if app.user %}
            <!-- Sidebar -->
            <div class="bg-dark border-right text-white" id="sidebar-wrapper">
              <div class="sidebar-heading text-white">Options</div>
              <div class="list-group list-group-flush ">
                <a href="#" class="list-group-item list-group-item-action bg-warning text-white">Table de bord</a>
                <a href="{{ path('shortcut') }}" class="list-group-item list-group-item-action bg-dark text-white btn btn-outline-warning">Aperçu des couvertures</a>
                <a href="{{ path('searchBook') }}" class="btn btn-outline-warning list-group-item list-group-item-action bg-dark text-white">
                  Recherche simple
                </a>
                <a href="" class="btn btn-outline-warning list-group-item list-group-item-action bg-dark text-white">
                  Ma collection
                </a>
                <a href="{{ path('info') }}" class="btn btn-outline-warning list-group-item list-group-item-action bg-dark text-white">Profile</a>
              </div>
            </div>
            <!-- /#sidebar-wrapper -->
            {% endif %}
            <!-- Page Content -->
            <div id="page-content-wrapper">
        
              <nav class="navbar navbar-expand-lg navbar-dark bg-warning border-bottom">
                <button class="btn btn-dark" id="menu-toggle">Sama Bibliotheque</button>
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active ">
                      <a class="nav-link  text-dark" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>

                    {% if not app.user %}
                    <li class="nav-item">
                      <a class="nav-link  text-dark" href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  text-dark" href="{{ path('register') }}">Inscription</a>
                    </li>
                    {% else %}
                      {% if is_granted('ROLE_ADMIN') %}
                        
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle   text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ajouter
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  href="{{ path('addBook') }}">Ajout livre</a>
                            <a class="dropdown-item" href="{{ path('addAuthor') }}">Ajout auteur</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle  text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Afficher
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  href="{{ path('listBook') }}">liste des livres</a>
                            <a class="dropdown-item" href="{{ path('listAuthor') }}">liste des auteurs</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('usersList') }}">liste des utilisateurs</a>
                          </div>
                        </li> 
                      {% endif %}
                   
                    <li class="nav-item">
                      <a class="nav-link  text-dark" href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <!-- /#corps du programme -->
              <div class="container-fluid">
                {% block body %}{% endblock %}
            </div> 
            </div>
            <!-- /#page-content-wrapper -->
        </div>
              
      
        {% block javascripts %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });
        </script>
    </body>
</html>
